.rightSide {
  display: flex;
  background-color: white;
  // width: 236px;
  height: 100%;
  padding: 60px 12px 10px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.navbar {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  gap: 24;
  align-self: stretch;
  justify-content: space-between;
  .left {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    p {
      color: var(--neutral-10, #1d2129);
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0px;
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    gap: 24px;
    .date {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      .ant-picker {
        min-height: 40px;
        border-radius: 4px;
        border: 1px solid #eff4fa;
        background: #fff;
      }
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0px;
      }
    }
    .nav-profile {
      display: flex;
      padding: 0px 12px 0px 6px;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      border-radius: 4px;
      border: 1px solid #eff4fa;
      background: var(--gray-white, #fff);
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0px;
      }
    }
    .dep {
      .ant-select {
        width: 212px;
        min-height: 40px;
        .ant-select-selector {
          height: 40px;
          border-radius: 4px;
          border: 1px solid #eff4fa;
          background: var(--gray-white, #fff);
          .ant-select-selection-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            p {
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin: 0px;
            }
          }
        }
      }
    }
  }
}
