body {
  display: flex;
  margin: 0;
  background-color: #f8f9fa;
}
.app-main {
  width: 100%;
  background-color: #f9fbfd;
  display: flex;
  flex-direction: row;
  height: 100%;
  .ant-tabs-nav::before {
    border: 0px !important;
  }
  .ant-tabs-nav .ant-tabs-tab {
    border-bottom: 1px solid #4a7fc1;
  }
  .ant-tabs-tab {
    // font-family: "Ubuntu";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 16px 8px 16px !important;
    color: black;
    // border-radius: 0px !important;
    border: 0px !important;
    border-bottom: 1px solid $color-primary !important;
    margin-left: 0px !important;
    background-color: transparent !important;
    &:hover {
      color: $color-primary !important;
    }
  }
  .ant-tabs-tab.ant-tabs-tab-active {
    border-radius: 8px 8px 0px 0px !important;
    border-top: 1px solid $color-primary !important;
    border-right: 1px solid $color-primary !important;
    border-left: 1px solid $color-primary !important;
    border-bottom: 0px !important;
    background-color: transparent !important;
    .ant-tabs-tab-btn {
      color: $color-primary;
    }
  }
  .ant-modal-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
    .ant-modal-header {
      padding-top: 10px;
    }
  }
  // .ant-tree-treenode {
  //   align-items: center;
  //   .ant-tree-switcher {
  //     display: flex;
  //     align-self: center;
  //   }
  //   .ant-tree-title {
  //     color: #272e3b;
  //     font-size: 14px;
  //     font-style: normal;
  //     font-weight: 600;
  //     line-height: normal;
  //   }
  // }
  // span.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close,
  // span.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open,
  // span.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open.ant-tree-node-selected {
  //   display: flex;
  //   gap: 6px;
  // }
  // span[aria-label="caret-down"],
  // span[aria-label="folder-open"],
  // span[aria-label="folder"] {
  //   svg {
  //     font-size: 24px;
  //   }
  // }
  // .ant-tree-treenode {
  //   height: 40px;
  // }
  span.ant-tag {
    min-height: 24px;
  }
}
.ant-tag-checkable {
  background: #e9ecef;
  &:hover {
    color: $color-primary !important;
  }
}
.ant-tag-checkable.ant-tag-checkable-checked {
  background: $color-primary;
  &:hover {
    color: white !important;
  }
}

.ant-form {
  .ant-input-number {
    width: 100%;
  }
  .ant-input-number-input {
    // background: $color-gray-100;
    width: 100%;
  }
  .ant-input-number-group-addon {
    img {
      cursor: pointer;
    }
  }
  input[type="text"],
  textarea {
    // background: $color-gray-100;
    border: 1px solid #dee2e6;
  }
  .ant-form-item {
    margin: 0px;
    width: auto;
    .ant-select-selector {
      // background: $color-gray-100;
      border: 1px solid #dee2e6;
    }
  }
  .ant-selecto-38px {
    .ant-select-selector {
      height: 38px !important;
      .ant-select-selection-item {
        align-self: center;
      }
    }
  }
  .ant-selecto-border-no {
    .ant-select-selector {
      border: none;
    }
  }
  .ant-form-item-label label {
    font-size: 12px;
    color: $color-gray-600;
    line-height: 14px;
    font-weight: 500;
  }
}

.popupButton:disabled {
  opacity: 0.2;
}

.popupButton {
  display: flex;
  flex-direction: row;
  gap: 4px;
  border: none;
  background: transparent;
  padding: 6px 12px;
  &:hover {
    cursor: pointer;
  }
}
.extra-description {
  width: 100%;
  display: flex;
  padding: 6px 12px 6px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 4px;
  background: var(--gray-white, #fff);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  > .header,
  > .footer {
    > .title {
      display: flex;
      padding: 8px 0px;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      > p {
        color: $color-primary;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0px;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    img {
      padding: 4px;
    }
    img:hover {
      background-color: $color-gray-100;
      cursor: pointer;
    }
  }
  > .title {
    display: flex;
    padding: 8px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    > p {
      color: $color-primary;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0px;
    }
  }
  > .extra-description-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    > .content {
      > p.label {
        font-size: 12px;
        font-weight: 400;
        color: #6b7785;
      }
      > p.value {
        line-break: anywhere;
        font-size: 14px;
        font-weight: 500;
        color: #4e5969;
        margin: 0px;
      }
    }
  }
}

.ant-table {
  table {
    th.ant-table-cell {
      text-align: center;
      padding: 8px 16px !important;
      font-size: 12px;
      font-weight: 500;
      line-height: 13px;
      background-color: white;
      .ant-table-column-sorters {
        span.ant-table-column-title {
          white-space: pre-line;
          &:hover {
            cursor: move;
          }
        }
      }
    }
    td {
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 13px;
      color: $color-gray-600;
      padding: 4px 4px !important;
    }
  }
}
.ant-table-pagination.ant-pagination {
  background-color: white;
  padding: 16px 0px;
  margin: 0px !important;
}

.directory-tree {
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  background-color: $color-white;
  > .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    width: 100%;
    padding: 8px 12px !important;
    align-items: center;
    gap: 12px;
    background: #f2f3f5;
    border-radius: 8px 8px 0px 0px;
    > img {
      &:hover {
        cursor: pointer;
      }
    }
    p {
      color: #86909c;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0px;
    }
  }
  > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  > .body {
    padding: 0px;
    width: 100%;
    justify-content: flex-start;
    .ant-tree {
      width: 100%;
    }
  }
}
.ant-tabs.ant-tabs-top.lineTop {
  .ant-tabs-tab {
    // font-family: "Ubuntu";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 16px 8px 16px !important;
    color: red;
    border: 0px !important;
    margin-left: 0px !important;
    background-color: transparent !important;
    &:hover {
      color: $color-primary !important;
    }
    .ant-tabs-tab-btn {
      color: black;
    }
  }
  .ant-tabs-tab.ant-tabs-tab-active {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    // border-top: 2px solid $color-primary !important;
  }
  .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    background: $color-primary;
  }
}

.ant-popover {
  z-index: 1050 !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  justify-content: center;
  background-color: #f9fbfd;
}

html {
  background-color: $color-body;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.container-sm {
  max-width: 1046px;
  margin: 0 auto;
}

.app-container-block {
  position: fixed;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.form-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex-direction: row;
  gap: 12px;
  .box,
  .box-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    > p.title {
      color: $color-gray-700;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0px;
    }
  }
  .box-1 {
    padding-right: 12px;
    border-right: 2px solid $color-gray-100;
  }
}

.form-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  flex-direction: row;
  gap: 12px;
  .box,
  .box-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    > p.title {
      color: $color-gray-700;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0px;
    }
  }
  .box-1 {
    padding-right: 12px;
    border-right: 2px solid $color-gray-100;
  }
}

.inputs-gird-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  flex-direction: row;
  gap: 12px;
}
.inputs-gird-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  flex-direction: row;
  gap: 12px;
}
.inputs-gird-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex-direction: row;
  gap: 12px;
}
.switches-col {
  display: flex;
  flex-direction: row;
  gap: 24px;
  .ant-form-item .ant-form-item-row {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 12px;
    width: 100%;
    .ant-form-item-label {
      padding: 0px;
    }
    .ant-form-item-control {
      width: auto;
    }
  }
}
.button-editable-footer {
  width: 100%;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}
// .ant-input-number-affix-wrapper {
//   background-color: #f8f9fa !important;
// }

.numberValue-to-right {
  .ant-input-number-input-wrap {
    input {
      text-align: end;
      padding-right: 30px;
    }
  }
}

.ant-tree-treenode {
  width: 100% !important;
  span.ant-tree-node-content-wrapper {
    width: 100% !important;
  }
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal,
.ant-tree-treenode.ant-tree-treenode-switcher-close.ant-tree-treenode-leaf-last,
.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close,
.ant-tree-treenode.ant-tree-treenode-switcher-open.ant-tree-treenode-selected.ant-tree-treenode-leaf-last,
.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open.ant-tree-node-selected,
.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open {
  display: flex;
  flex-direction: row;
  > .ant-tree-title {
    width: 100%;
  }
}

// end shine layout
.ant-layout-sider.ant-layout-sider-light {
  width: 96px !important;
  min-width: 96px !important;
  max-width: 96px !important;
}
.ant-space-compact {
  width: 100%;
  > .extraButton {
    display: flex;
    height: 36px;
    min-width: 36px;
    text-align: center;
    border: 1px solid #dee2e6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-width: 0px;
    background-color: #f8f9fa;
    justify-content: center;
    align-items: center;
  }
  > .ant-form-item {
    width: 100%;
  }
  > .extraButton-right {
    display: flex;
    height: 36px;
    min-width: 36px;
    text-align: center;
    border: 1px solid #dee2e6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 0px;
    background-color: #f8f9fa;
    justify-content: center;
    align-items: center;
  }
}

.group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  > .box,
  .box-prev,
  .box-next,
  .swiper-slide > .box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    height: 70px;
    align-items: center;
    padding: 10px 12px;
    // border: 1px solid $color-primary;
    background: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    > p.text {
      margin: 0px;
      font-size: 10px;
      font-weight: 400;
      color: #adb5bd;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.08);
    }
  }
  .box-active,
  .swiper-slide > .box-active {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90px;
    max-width: 90px;
    min-width: 90px;
    height: 70px;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid $color-primary;
    background: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    > span {
      color: $color-primary;
    }
    > p.text {
      margin: 0px;
      font-size: 10px;
      font-weight: 400;
      color: $color-primary;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.08);
    }
  }
  > .content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    overflow-x: hidden;
  }
  > .box-prev {
    display: flex !important;
    align-items: center !important;
    height: auto !important;
    width: 30px !important;
    min-width: 30px !important;
    max-width: 30px !important;
    padding: 20px 4px !important;
    border: 1px solid white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  }
  > .box-next {
    display: flex !important;
    align-items: center !important;
    height: auto !important;
    width: 30px !important;
    min-width: 30px !important;
    max-width: 30px !important;
    padding: 20px 4px !important;
    border: 1px solid white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  }
}
.payment-type-box-blue {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid #0d6efd;
  &:hover {
    cursor: pointer;
    border: 1px solid #0d6efd;
  }
}
.payment-type-box-red {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid red;
  &:hover {
    cursor: pointer;
    border: 1px solid red;
  }
}
.payment-type-box-gray {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid #c9cdd4;
  &:hover {
    cursor: pointer;
    border: 1px solid #277a54;
  }
}
.payment-type-box {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid #277a54;
  &:hover {
    cursor: pointer;
  }
}
.payment-type-box-active {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid $color-primary;
  &:hover {
    cursor: pointer;
  }
}
.payment-type-box-disabled {
  opacity: 0.2;
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid $color-gray-600;
  &:hover {
    cursor: not-allowed;
  }
}
.ant-modal-title {
  display: flex;
  // width: 100% !important;
  font-size: 20px !important;
}
.ant-modal-title-center {
  justify-content: center;
}

.step-membership {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    h3 {
      margin: 0px;
      font-weight: 400;
    }
    .names {
      display: flex;
      gap: 12px;
      justify-content: space-between;
    }
    .card-no {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
    }
    .card-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
    }
  }
  .inputs {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .numbers {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    h1 {
      margin: 0px;
    }
  }
}
.step-payment {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .payment-types {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
  }
  .payment-info {
    h3 {
      margin: 0px;
    }
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-self: flex-end;
  }
}
.step-tax {
  h3 {
    margin: 0px !important;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .tax-type {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
  }
  .numbers {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    h3 {
      margin: 0px;
    }
  }
}

.open-close-close {
  width: 100%;
  .close-body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
  }
  .close-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.ant-modal-confirm-content {
  max-width: 100% !important;
}
.big-filter {
  margin-left: 12px;
  width: 100%;
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  background: var(--gray-white, #fff);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  > .title {
    display: flex;
    gap: 12px;
    justify-content: space-between;
  }
}

//*multi date picker

.rmdp-container {
  display: block !important;
}

button.rmdp-arrow-container {
  &:hover {
    background: $color-primary;
  }
}

.rmdp-input {
  &:hover {
    border: 1px solid $color-primary !important;
  }
}

.rmdp-day.rmdp-selected {
  > span:not(.highlight) {
    background-color: $color-primary !important;
  }
}

.rmdp-day.rmdp-today {
  > span {
    background-color: $color-primary !important;
  }
}

.rmdp-day {
  > span {
    &:hover {
      background: $color-primary !important;
    }
  }
}

.rmdp-week-day {
  color: $color-primary !important;
}

i.rmdp-arrow {
  border: solid $color-primary;
  border-width: 0 2px 2px 0;
  &:hover {
    background: $color-primary;
  }
}

.report-document {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  .report-filter {
    display: flex;
    width: 170px;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    background: #fff;
  }
  .report-body {
    width: 100%;
    padding: 12px;
    background-color: white;
    table.report {
      width: 100%;
      th,
      td {
        font-size: 9px;
        border: 1px solid gray;
        padding: 8px;
      }
      th {
        background: #d9d9d9;
      }
    }
  }
}

.reportList-names {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--theme-border, #dee2e6);
  background: var(--gray-white, #fff);
  > .names {
    > .name-active::before {
      content: "";
      background: url("/images/reportBefore.svg") no-repeat;
      width: 6px;
      height: 12px;
      display: inline-block;
      color: red;
    }
    > .name-active {
      color: #343a40;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    > .name {
      color: #adb5bd;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:hover {
        background-color: #6b7785;
        cursor: pointer;
      }
    }
  }
}

.export img {
  &:hover {
    cursor: pointer;
  }
}

//
.swiper-one-item {
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.swiper-group {
  width: 100%;
  padding-left: 45px !important;
  padding-right: 45px !important;
  height: 100%;
  > .box-prev {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px !important;
    min-width: 35px !important;
    justify-content: center !important;
    z-index: 3;
  }
  > .box-next {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px !important;
    min-width: 35px !important;
    justify-content: center !important;
    z-index: 3;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-tree-search-value {
  color: #f50;
}
//
#treeview {
  height: 400px;
}

.options {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  top: 0;
  background-color: #f5f5f5;
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
}

.option > .dx-selectbox {
  display: inline-block;
  vertical-align: middle;
  max-width: 350px;
  width: 100%;
  margin-top: 5px;
}
//

.text-line-through {
  text-decoration: line-through;
}
