$color-white: #fff;
$color-primary: #198754;
$color-secondary: #242a48;
$color-whitegray: rgba(255, 255, 255, 0.4);
$color-body: #f2f7ff;
$color-dark: #363940;
$color-gray: #8b8c8c;
$color-danger: #dc3545;
$color-gray-400: #ced4da;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-assist-4: #4f546c;
$color-assist-1: #bdbfc8;
$color-assist-2: #a7a9b5;
